/*Creating a flexbox for the navigation. The background color and the opacity is at the higherst level. 
Adding the background color with the opacity is making the text hard to read.*/

/*.menu-container{
	background-color: #966C51;
	opacity: 50%;
}*/

/*This sets the navigation in a flex box and sets the font and size if the text inside*/
.site-navigation{
	font-family: 'Felipa', cursive;
	font-size: 2em;
	width: 100%;
	padding: 1%;
	display: flex;
}

/* flex-items  - this sets the text in flex items to align center. */
nav > div {
	text-align: center;
	
	/*grow shrink basis - this tells the flext items andt the flex box what to do when the box shrinks, grows, or stays the same.*/
  flex: 0 1 400px;
  }

/*This sets the default color of the links in the nav bar.*/
  .site-navigation a{
	color: #c5c4c3;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 3px;
  }

/*This changes the color of the link when hovering over it.*/
  .site-navigation a:hover{
	color: #BA6225;
  }

/*This changes the color of the current page link.*/
  .site-navigation .current{
	color: #e5cda4;
}

.buy-button{
    background-color: #ba6625;
    border: none;
    padding: 3% 6%;
    margin: 5%;
    text-align: center;
    font-size: 1.3em;
    display: inline-block;
    box-shadow: 0 8px 16px 0 #1a181b, 0 6px 20px 0 #1a181b;
}

.buy-button a{
    color: #c5c4c3;
    text-decoration: none;
}

input, textarea{
	width: 80%;
	padding: 3% 4%;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #e5cda4;
	opacity: 80%;
	color: black;
  }

  #submit{
	background-color: #ba6625;
	text-align: center;
	font-size: 1.3em;
	color: #c5c4c3;
	width: 40%;
	float: right;
	margin-right: 20%
	
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: black;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: black;
	font-weight: bold;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: black;
	font-weight: bold;
  }
  :-moz-placeholder { /* Firefox 18- */
	color: black;
	font-weight: bold;
  }

