html { 	background-color:#567895;
 font-size: 10px;
 font-family: Times, Times New Roman, Arial, sans-serif; }
 

h1 { text-align: center; 
	 font-size: 3.4rem; 
	 background-color: #4d0099;
	 color: #00cc00;
	 border-bottom-style: solid;
	 border-bottom-color: #00cc00;
	 border-width: .5rem ;
	 /* These settings were for the border to set where it is, its syle and its width.  Possible to do more styles for other borders. Also interesting to note that border-width seemed to add down past the orginal space it was taking */ 
	 line-height:1.5 ;}

nav#bit112-nav li {

			display: inline-block;
			width: 100px;
			padding: 10px;
			border-style: solid;
			border-color: white;
			}
		/* Put the list horizontal instead of vertical and gave them some spacing so they were not smushed. */

	 
h2	{ font-size: 3.0rem; }
	 /* Added font size for the second header */
	 
main { max-width: 1000px ;
	   font-size: 2.0rem;
	/* Makes it so text wont run past 1000 pixels, roughly the width of the picture. */ }

section {color:white;
		 padding: 3px;
		 font-family: "Times New Roman", Times, serif; 
		 font-size: 2.0rem; }
		 /* Different font trype and color for this section */

p 		{ font-size: 2.0rem; }

p 		{  color: white; }

li { font-size: 2.0rem; }

figcaption { font-size: 1.8rem; }

li { line-height: 1.4; }

a:link { color: #009933; }
a:visited { color: #cc9900; }
a:hover { color: #ff9900; background-color: #0000ff; text-decoration: none; }
a:active { color: #0000ff; background-color: #ff9900; text-decoration: none; }

footer { color: yellow;
		 padding: 5px;
		 font-size: 1.3rem;
		 font-family: Monospace, "Courier New"; }
		 
		 /* Different font type, size, and color for the copyright */



